In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [27]:
df = pd.read_csv(r'C:\Users\jayak\OneDrive\Desktop\Data Analytics\Featurepro2.csv')

In [28]:
df.head()

,Age,Height,Weight,Blood_Pressure,Cholesterol,Glucose,Hours_of_Exercise_per_Week,Gender,Smoking_Status,Occupation,Output
0,25,175,70,120,180,90,5,Male,Non-Smoker,Engineer,1
1,32,160,65,130,200,95,3,Female,Smoker,Doctor,2
2,45,180,80,140,220,100,1,Other,Former Smoker,Teacher,1
3,37,165,72,125,185,92,4,Female,Non-Smoker,Engineer,3
4,29,170,68,118,175,88,6,Male,Non-Smoker,Doctor,1

In [29]:
df.info

<bound method DataFrame.info of     Age  Height  Weight  Blood_Pressure  Cholesterol  Glucose  \
0    25     175      70             120          180       90
1    32     160      65             130          200       95
2    45     180      80             140          220      100
3    37     165      72             125          185       92
4    29     170      68             118          175       88
5    50     155      75             135          210       98
6    41     172      77             130          205       96
7    28     168      67             115          170       85
8    34     177      73             122          182       91
9    42     160      79             138          215       99
10   30     178      76             120          190       93
11   36     162      70             127          188       94
12   27     175      68             119          179       87
13   39     170      78             135          210       97
14   31     180      82             145          225      101
15   48     165      80             140          220      100
16   35     167      72             121          180       89
17   26     170      65             116          172       86
18   44     160      74             137          212       99
19   33     172      69             123          183       90
20   38     175      71             126          189       92
21   47     168      76             142          218      100
22   29     178      77             120          190       94
23   43     162      70             130          200       95
24   40     170      73             125          185       91
25   51     165      79             145          230      102
26   37     172      78             132          207       98
27   32     160      67             118          178       89

    Hours_of_Exercise_per_Week  Gender Smoking_Status Occupation  Output
0                            5    Male     Non-Smoker   Engineer       1
1                            3  Female         Smoker     Doctor       2
2                            1   Other  Former Smoker    Teacher       1
3                            4  Female     Non-Smoker   Engineer       3
4                            6    Male     Non-Smoker     Doctor       1
5                            2  Female         Smoker    Teacher       2
6                            3    Male     Non-Smoker   Engineer       1
7                            7  Female     Non-Smoker     Doctor       4
8                            4   Other  Former Smoker    Teacher       1
9                            2  Female     Non-Smoker   Engineer       1
10                           5    Male     Non-Smoker     Doctor       2
11                           3  Female         Smoker    Teacher       1
12                           6   Other     Non-Smoker   Engineer       3
13                           2  Female  Former Smoker     Doctor       1
14                           1    Male     Non-Smoker    Teacher       1
15                           2  Female         Smoker   Engineer       1
16                           5   Other     Non-Smoker     Doctor       2
17                           6  Female  Former Smoker    Teacher       1
18                           3    Male         Smoker   Engineer       1
19                           4  Female     Non-Smoker     Doctor       2
20                           3   Other  Former Smoker    Teacher       1
21                           2  Female     Non-Smoker   Engineer       1
22                           5    Male         Smoker     Doctor       1
23                           3  Female     Non-Smoker    Teacher       2
24                           4   Other     Non-Smoker   Engineer       1
25                           1  Female         Smoker     Doctor       1
26                           3    Male     Non-Smoker    Teacher       1
27                           6  Female  Former Smoker   Engineer       2  >

In [30]:
df_dummies = pd.get_dummies(df)

In [31]:
df_dummies.info

<bound method DataFrame.info of     Age  Height  Weight  Blood_Pressure  Cholesterol  Glucose  \
0    25     175      70             120          180       90
1    32     160      65             130          200       95
2    45     180      80             140          220      100
3    37     165      72             125          185       92
4    29     170      68             118          175       88
5    50     155      75             135          210       98
6    41     172      77             130          205       96
7    28     168      67             115          170       85
8    34     177      73             122          182       91
9    42     160      79             138          215       99
10   30     178      76             120          190       93
11   36     162      70             127          188       94
12   27     175      68             119          179       87
13   39     170      78             135          210       97
14   31     180      82             145          225      101
15   48     165      80             140          220      100
16   35     167      72             121          180       89
17   26     170      65             116          172       86
18   44     160      74             137          212       99
19   33     172      69             123          183       90
20   38     175      71             126          189       92
21   47     168      76             142          218      100
22   29     178      77             120          190       94
23   43     162      70             130          200       95
24   40     170      73             125          185       91
25   51     165      79             145          230      102
26   37     172      78             132          207       98
27   32     160      67             118          178       89

    Hours_of_Exercise_per_Week  Output  Gender_Female  Gender_Male  \
0                            5       1          False         True
1                            3       2           True        False
2                            1       1          False        False
3                            4       3           True        False
4                            6       1          False         True
5                            2       2           True        False
6                            3       1          False         True
7                            7       4           True        False
8                            4       1          False        False
9                            2       1           True        False
10                           5       2          False         True
11                           3       1           True        False
12                           6       3          False        False
13                           2       1           True        False
14                           1       1          False         True
15                           2       1           True        False
16                           5       2          False        False
17                           6       1           True        False
18                           3       1          False         True
19                           4       2           True        False
20                           3       1          False        False
21                           2       1           True        False
22                           5       1          False         True
23                           3       2           True        False
24                           4       1          False        False
25                           1       1           True        False
26                           3       1          False         True
27                           6       2           True        False

    Gender_Other  Smoking_Status_Former Smoker  Smoking_Status_Non-Smoker  \
0          False                         False                       True
1          False                         False                      False
2           True                          True                      False
3          False                         False                       True
4          False                         False                       True
5          False                         False                      False
6          False                         False                       True
7          False                         False                       True
8           True                          True                      False
9          False                         False                       True
10         False                         False                       True
11         False                         False                      False
12          True                         False                       True
13         False                          True                      False
14         False                         False                       True
15         False                         False                      False
16          True                         False                       True
17         False                          True                      False
18         False                         False                      False
19         False                         False                       True
20          True                          True                      False
21         False                         False                       True
22         False                         False                      False
23         False                         False                       True
24          True                         False                       True
25         False                         False                      False
26         False                         False                       True
27         False                          True                      False

    Smoking_Status_Smoker  Occupation_Doctor  Occupation_Engineer  \
0                   False              False                 True
1                    True               True                False
2                   False              False                False
3                   False              False                 True
4                   False               True                False
5                    True              False                False
6                   False              False                 True
7                   False               True                False
8                   False              False                False
9                   False              False                 True
10                  False               True                False
11                   True              False                False
12                  False              False                 True
13                  False               True                False
14                  False              False                False
15                   True              False                 True
16                  False               True                False
17                  False              False                False
18                   True              False                 True
19                  False               True                False
20                  False              False                False
21                  False              False                 True
22                   True               True                False
23                  False              False                False
24                  False              False                 True
25                   True               True                False
26                  False              False                False
27                  False              False                 True

    Occupation_Teacher
0                False
1                False
2                 True
3                False
4                False
5                 True
6                False
7                False
8                 True
9                False
10               False
11                True
12               False
13               False
14                True
15               False
16               False
17                True
18               False
19               False
20                True
21               False
22               False
23                True
24               False
25               False
26                True
27               False  >

In [32]:
df_dummies.head()

,Age,Height,Weight,Blood_Pressure,Cholesterol,Glucose,Hours_of_Exercise_per_Week,Output,Gender_Female,Gender_Male,Gender_Other,Smoking_Status_Former Smoker,Smoking_Status_Non-Smoker,Smoking_Status_Smoker,Occupation_Doctor,Occupation_Engineer,Occupation_Teacher
0,25,175,70,120,180,90,5,1,False,True,False,False,True,False,False,True,False
1,32,160,65,130,200,95,3,2,True,False,False,False,False,True,True,False,False
2,45,180,80,140,220,100,1,1,False,False,True,True,False,False,False,False,True
3,37,165,72,125,185,92,4,3,True,False,False,False,True,False,False,True,False
4,29,170,68,118,175,88,6,1,False,True,False,False,True,False,True,False,False

In [ ]:
# By doing this we can face problems llike:
# -losing important information
# - The size of the data set will drastically increase

In [33]:
# to solve above we can use LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [34]:
le = LabelEncoder()
le.fit_transform(['Male','Female','Other'])

array([1, 0, 2], dtype=int64)

In [35]:
df['Gender']= df['Gender'].map({'Male':0,
                                'Female':1,
                                'Other':2})

In [37]:
df.head()
# We can do same thing for other features also

,Age,Height,Weight,Blood_Pressure,Cholesterol,Glucose,Hours_of_Exercise_per_Week,Gender,Smoking_Status,Occupation,Output
0,25,175,70,120,180,90,5,0,Non-Smoker,Engineer,1
1,32,160,65,130,200,95,3,1,Smoker,Doctor,2
2,45,180,80,140,220,100,1,2,Former Smoker,Teacher,1
3,37,165,72,125,185,92,4,1,Non-Smoker,Engineer,3
4,29,170,68,118,175,88,6,0,Non-Smoker,Doctor,1

In [ ]:
# this is also no so ideal in real life data sets, there may be more than 500 categories in a feature. So we can use a method called cosmbining Sparse class.